# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
Commande ECHO d‚sactiv‚e.
# Fichiers temporaires
tmp*/
*.tmp
*.log
Commande ECHO d‚sactiv‚e.
# Fichiers generes
dist/
build/
*.spec
Commande ECHO d‚sactiv‚e.
# Config locale
config_selection.json
Commande ECHO d‚sactiv‚e.
# OS
.DS_Store
Thumbs.db
desktop.ini
Commande ECHO d‚sactiv‚e.
# Fichiers Excel generes
sorties/
output/
